
.alarm-block{
  position: absolute;
    left: 300px;
    top: 90px;
    width: 320px;
    /* overflow-y: scroll; */
}
.panel-heading {
    background-color: #1b1e24 !important;
}

.fa-gbr{
      color: #ffbb00;
}
.panel-collapse {
  background-color: #22262e;
}
.btn-messege-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #888888;
    opacity: 1;
    font-weight: bold;
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 10px 7px 7px;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.btn-messege-close:hover {
    color: #bbbbbb;
}
