.lockscreen-wrapper{
      height: 100%;
      margin: auto;
}
.row-form{
  display: flex;
justify-content: center;
height: 100%;
align-items: center;
}
.lockscreen-wrapper .user-form{
  min-width: auto;
}
